.git
.gitignore
.vscode/
.venv/
.venv-j/
infra/venv-py311/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

logs/
working/
storage/
trained_models/
user_data/
ai_data_final/
data/
data-mounts/

apps/
ENDPOINT_MAPPING_PHASES/

infra/k8s/
infra/nginx/
infra/scripts/

node_modules/
